@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --crimson: #d7263dff;
    --portland-orange: #f46036ff;
    --space-cadet: #2e294eff;
    --persian-green: #1b998bff;
    --june-bud: #c5d86dff;
    --light: #f1f1f1ff;
    --dark: #333333ff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

h1 {
    margin: 0;
    padding: 0.5em;
    background-color: var(--space-cadet);
}

h1 .title {
    display: inline-block;
    padding: 0.25em;
    border-radius: 0.25em;
    background-color: var(--light);
    font-weight: 600;
    line-height: 1em;
    color: var(--space-cadet);
}

h1 .subtitle {
    display: inline-block;
    margin-left: 0.5em;
    font-size: 0.75em;
    color: var(--light);
}

h1 .subtitle a {
    color: var(--light);
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 5vh auto;
}

.board .elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 31.5vw;
    margin: 0 auto;
}

.board .elements .element {
    display: block;
    width: 8vw;
    height: 8vw;
    margin: 1vw;
    border-radius: 0.25vw;
    border-width: 0.25vw;
    border-style: solid;
    border-color: var(--crimson);
    background-color: var(--crimson);
}

.board .elements .element:hover {
    border-color: var(--space-cadet) !important;
    cursor: pointer;
}

.board .description {
    margin-top: 1em;
    font-size: 1.5em;
    color: var(--space-cadet);
}

.score {
    position: fixed;
    bottom: 5vh;
    right: 0;
    padding: 0.25em 0.5em 0.25em 3em;
    border-radius: 0.5em 0 0 0.5em;
    background-color: var(--space-cadet);
    color: var(--light);
}

.score .current {
    display: block;
    text-align: right;
    font-size: 2em;
}

.score .current::after {
    content: 'Punkte';
    margin-left: 0.5em;
    font-size: 0.5em;
}

.score .highscore::before {
    content: 'Highscore: ';
}